/* Fonts */

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
}

div.background {
    background-image: url('../images/background-previous.jpg');
    transition: background-image 1s;
    -webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    background-size: 100% 100%;
}

div.title {
    text-align: center;
    margin: 20px;
}

form {
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

form.dates {
    padding: 25px 30px 30px;
    background-color: #ffffffaa;
    backdrop-filter: blur(3px);
    width: 60%;
    margin: auto;
}

form.login {
    padding: 25px 30px 30px;
    background-color: #ffffffaa;
    backdrop-filter: blur(3px);
}

form h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0 40px;
}

div.flex {
    display: flex;
}

div.align-center {
    align-items: center;
}

div.absolute-center {
    justify-content: center;
    align-items: center;
}

div.viewport-height {
    height: 100vh;
}

button.btn.btn-primary {
    background-color: #80bc00;
    border-color: #80bc00;
}

button.btn.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem #80bc0050;
}

button.full-width {
    width: 100%;
}

input.form-control:focus {
    box-shadow: 0 0 0 0.25rem #80bc0050;
}

label.is-invalid {
    color: #dc3545;
}

div.map {
    height: 100vh;
}

div.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div.grid5050 {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* media query */

@media only screen and (max-width: 600px) {
    div.background{
        background-size: cover;
    }
    form.login {
        width: 90%;
    }
    form.login h1 {
        font-size: 1.7rem;
    }
    div.grid5050 {
        display: block;
    }
    form.dates {
        width: 90%;
        margin: 20px auto;
    }
}